:root {
    --opacity: 0;
}

.alles {
    margin-left: 10%;
    margin-right: 10%;
}

.col1
{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
            
}

.col2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
        
}

.col3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.left {
text-align: right;

}

.link {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 2%;  
    
}

.right {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 2%;
    
}


.home {
        flex: 1;
    display: flex;
flex-direction: row;
justify-content: left;
gap: 2%;
font-size: small;
}

.store {
        display: flex;
        flex-direction: row;
        font-size: larger;

 }

 .nutzer {
    flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: right;
        gap: 2%;
        font-size: small;
    }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 500px;
    width: auto;
    text-align: center;
}

.center {
    font-family: Arial, Helvetica, sans-serif;
}

.demo {
    font-weight: bold;
    font-size: larger;
}


.alles {
    font-family: Arial, Helvetica, sans-serif;
}



.icons {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 2%;
}


.cart {
    height: 50px;
    width: 50px;
}

.user {
    height: 50px;
    width: 50px;
}

.location {
    height: 50px;
        width: 50px ;
}

#lupe {
    height: 50px;
    width: 50px;
}

#button {
    border: none;
    background-color: white;
}

.schrift {
    font-size: x-small;
        color: rgb(197, 194, 194);
}


#inputSearch {
    transition: all;
    transition-duration: 500ms;
    opacity: var(--opacity);

}


#location {
    height: 35px;
    width: 35px;
}

#user {
    height: 70px;
    width: 65px;
    margin-top: 10px;
}

#cart {
    height: 35px;
    width: 35px;
}

.women {
    font-weight: bold;
}


.rowButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20%;
    margin-top: 5%;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.background {
    border-radius: 50px;
    height: 50px;
    width: 175px;
    border-color: black;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

.pointer {
    cursor: pointer;
}

.bold {
    font-weight: bold;
}